@use './variables.scss' as *;
@use '@stephane888/wbu-atomique/scss/wbu-ressources-clean.scss' as *;
@use './rateStars.scss';
@use './resume.scss';
@use './count-bar.scss';
@use './comments.scss';


#app {
    margin: 0px auto;
    color: black;
}

.action-btn {
    cursor: pointer;

    &:hover {
        color: $font-color-primary;
    }
}

.comments-widget {
    color: $font-color-primary;

    &>* {
        padding-inline: $default-inline-padding;
    }

    .comments-resumed {
        padding-bottom: 10px;

        span {
            font-weight: bold;
            border-bottom: 3px solid $font-color-primary;
            padding-bottom: 6px;
        }
    }

    .small-boxes {
        padding-top: 25px;
    }
}

.comments-meta {
    border-bottom: 1px solid $border-default-color;

    .label {
        float: left;
        font-size: $default-font-size;
        margin-top: 13px;
    }

    &-logo {
        padding: 10px 5px;
        overflow: hidden;

        img {
            border-radius: 50%;
            width: 30px;
            height: auto;
            padding: 2px;
        }
    }
}

.clear-fix {
    clear: both;
}