@use './variables.scss' as *;
@use '@stephane888/wbu-atomique/scss/wbu-ressources-clean.scss' as *;
@use './rateStars.scss';
@use './resume.scss';
@use './count-bar.scss';
body {
    background-color: #f0f0f0;
}

#app {
    background-color: white;
    display: block;
    min-height: 100vh;
    margin: 0px auto;
    width: 30rem;
    padding: 0 15px;
    color: black;
    position: absolute;
    right: 0;
}

.comments-widget {
    color: $font-color-primary;
    .comments-resumed {
        margin-inline: $default-inline-margin;
        span {
            font-weight: bold;
            border-bottom: 3px solid $font-color-primary;
            padding-bottom: 6px;
        }
    }
    .small-boxes {
        padding-top: 25px;
    }
}
.comments-meta {
    .label {
        float: left;
        font-size: $default-font-size;
        margin-top: 15px;
    }
    &-logo {
        padding: 10px 5px;
        img {
            border-radius: 50%;
            width: 30px;
            height: auto;
        }
    }
}
