@use '@stephane888/wbu-atomique/scss/_variables.scss' as *;
$resume-height: 16px;
$resume-element-mb: 4px;
$default-inline-padding: 10px;
$default-font-size: 14px;

$color-primary: #3e3636;
$color-secondray: #6a6c77;
$hover-color: #655e5e;
$color-third: #facf19;
$color-forth: #b2afaf;
$font-color-secondary: $color-secondray;
$font-color-primary: $color-primary;
$border-default-color: #e3e3e3;
$border-color-secondary: #b2afaf;